/* FONTS (FONT-FACE) */

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold Italic";
  font-style: italic;
  font-weight: 700;
  src: url("assets/fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: "Inter Black Italic";
  font-style: italic;
  font-weight: 900;
  src: url("assets/fonts/Inter-BlackItalic.woff") format("woff");
}

/* CSS CUSTOM PROPERTIES(VARIABLES) */
:root {
  --ff-inter-extra-light-200: "Inter Extra Light", sans-serif;
  --ff-inter-light-300: "Inter Light", sans-serif;
  --ff-inter-regular-400: "Inter Regular", sans-serif;
  --ff-inter-medium-500: "Inter Medium", sans-serif;
  --ff-inter-semi-bold-600: "Inter Semi Bold", sans-serif;
  --ff-inter-bold-700: "Inter Bold", sans-serif;
  --ff-inter-bold-700-italic: "Inter Bold Italic", sans-serif;
  --ff-inter-extra-bold-800: "Inter Extra Bold", sans-serif;
  --ff-inter-black-900: "Inter Black", sans-serif;
  --ff-inter-black-900-italic: "Inter Black Italic", sans-serif;
}

/* RESET ****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-inter-regular-400);
  color: #222132;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222132;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
photo {
  display: block;
  max-width: 100%;
}

.line-height {
  line-height: 29px;
}

/* HEADER ****************************************/
header {
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.03) 0 17px 32px;
}
.header-container {
  max-width: 1640px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
.header-nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header-mobile {
  display: none;
}
.mobile-links.show {
  display: none;
}
.mobile-links {
  display: none;
}

.header-logo__img {
  max-width: 192px;
  height: 36px;
  object-fit: contain;
  margin-inline-end: 82px;
}
.header-links ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0;
}
.header-links ul li {
  font-family: var(--ff-inter-semi-bold-600);
}
.header-links .link {
  display: inline-block;
  font-family: var(--ff-inter-semi-bold-600);
  color: rgb(34, 33, 50);
  font-size: 16px;
  line-height: 1;
  margin-inline-end: 42px;
  height: 90px;
  padding-block-start: calc(66px / 2);
  border-top: 4px solid white;
  transition: border 200ms linear;
}
.header-links .login {
  background-color: white;
  color: #19bb70;
  padding-block: 13px;
  padding-inline: 14px;
  border-radius: 12px;
  border: 1.6px solid #19bb70;
  margin-inline-start: 40px;
  margin-inline-end: 15px;
  height: auto;
  transition: all 200ms linear;
}
.header-links .register {
  background-color: rgb(25, 187, 112);
  border-radius: 12px;
  padding-block: 13px;
  padding-inline: 14px;
  border: 1.6px solid #19bb70;
  color: white;
  margin-inline-end: 0px;
  height: auto;
  box-shadow: rgba(50, 103, 78, 0.3) 4px 10px 20px 0px;
  transition: all 200ms linear;
}
.header-links .link-active {
  color: #19bb70;
  border-top: 4px solid #19bb70;
  height: 90px;
  padding-block-start: calc(66px / 2);
}
.header-links .link:hover,
.header-links .link:focus {
  color: #19bb70;
  border-top: 4px solid #19bb70;
  transform: translateX(0%);
  height: 90px;
  padding-block-start: calc(66px / 2);
}
.header-links .login:hover,
.header-links .login:focus {
  background-color: black;
  border: 1.6px solid black;
  color: white;
  height: auto;
  padding-block-start: 13px;
  box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
}
.header-links .register:hover,
.header-links .register:focus {
  height: auto;
  padding-block-start: 13px;
  background-color: white;
  color: #000;
  border: 1.6px solid black;
  box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
}

/* POTRAZI SECTION  ******************************************************* */
.potrazi {
  width: 100%;
}
.image__background-two {
  position: absolute;
  background: url("https://zaposlise.hr/wp-content/uploads/2023/08/zaposlise-posloprimci-naslovna-2023@2x-scaled.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 664px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.potrazi-container {
  z-index: 10;
  max-width: 1040px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  padding-block-start: 75px;
  padding-block-end: 70px;
}

.potrazi-content {
  position: relative;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  width: 640px;
  z-index: 20;
}
.potrazi-content__title {
  font-size: 44px;
  line-height: 1;
  color: #222132;
  font-family: var(--ff-inter-bold-700), sans-serif;
  padding-block-end: 20px;
}
.potrazi-content__desc-one {
  line-height: 24px;
  font-family: var(--ff-inter-regular-400);
  color: #000;
}
.potrazi-content__desc-two {
  padding-block-end: 20px;
  padding-inline-end: 100px;
  line-height: 24px;
  font-family: var(--ff-inter-regular-400);
  color: #000;
}
.potrazi-content__btn {
  width: fit-content;
  font-size: 20px;
  line-height: 20px;
  padding: 20px 31px;
  font-family: var(--ff-inter-medium-500);
  background: #19bb70;
  border: 0;
  color: #fff;
  border-radius: 6px;
  margin: 0;
  display: inline-block;
  box-shadow: rgba(25, 187, 112, 0.26) 0 20px 27px;
  line-height: 1;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.potrazi-content__btn-link {
  color: #fff;
}
.potrazi-content__btn:hover,
.potrazi-content__btn:focus,
.potrazi-content__btn:active {
  background: #222132;
  color: #fff;
  box-shadow: rgba(34, 33, 50, 0.26) 0 20px 27px;
}
.potrazi-content__store {
  margin-block-start: 1.25rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.potrazi-content__store-img {
  max-width: 100%;
  height: 41.8px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

/* NAPREDUJ  ******************************************************* */
.napreduj {
  position: relative;
  padding-block-end: 90px;
  background: url("https://zaposlise.hr/wp-content/uploads/2021/11/bg7.jpg")
    center center no-repeat;
  background-size: cover;
  background-color: #f9f9f9 !important;
  width: 100%;
  z-index: 1;
}
.napreduj-container {
  max-width: 80.325rem;
  margin-inline: auto;
  padding-block-start: 100px;
  padding-block-end: 5rem;
  padding-inline: 1rem;
}
.napreduj-title {
  font-size: clamp(1.5rem, 6vw, 2.7rem) !important;
  max-width: 56vw !important;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  margin-block-end: 20px;
  color: #222132;
  font-family: var(--ff-inter-bold-700);
  line-height: 1.1;
}
.napreduj-desc {
  font-size: 1rem;
  max-width: 56vw;
  margin: 0 auto 2rem auto;
  text-align: center;
  padding-block-end: 30px;
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-regular-400);
  line-height: 29px;
}
.napreduj-slider {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(290px, 730px);
  gap: clamp(2rem, 7vw, 12rem);
  align-items: center;
}

.slider-left__box-img {
  width: clamp(290px, 90vw, 395px);
  display: none;
}

.slider-right {
  width: 100%;
  position: relative;
  display: grid;
  align-content: baseline;
  gap: 0.6rem;
  width: fit-content !important;
  z-index: 0;
}
.slider-right::after {
  content: "";
  position: absolute;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline1.png")
    left top repeat-y;
  width: 4px;
  height: calc(100% - 150px);
  inset: 50px 0 0 68px;
  z-index: -1;
}

.slider-right__card {
  position: relative;
  width: auto;
  text-align: left;
  line-height: 1.5;
  color: #000;
  opacity: 1;
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  border-radius: 0.625rem;
  gap: 1.5rem;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
}
.slider-green__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background-color: rgb(26, 188, 113);
  animation: slider 10s linear forwards;
  display: none;
}
@keyframes slider {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.slider-right__img {
  display: grid;
  place-items: center;
  width: 6.3rem;
  height: 6.3rem;
  aspect-ratio: 1;
  background-size: contain;
  background-color: #fff;
  padding: 1.1rem;
  border-radius: 100vw;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0 30px 70px;
}
.slider__img {
  width: 3.2rem;
  height: auto;
}
.slider-card__content {
  color: #222132;
}
.slider-card__content-title {
  font-size: clamp(1rem, 10vw, 1.55rem);
  font-family: var(--ff-inter-bold-700);
  line-height: 1.1;
}
.slider-card__content-desc {
  margin-block-start: 1.5rem;
  padding-block-end: 30px;
  color: rgba(34, 33, 50, 0.7) !important;
  line-height: 1.5;
  display: none;
}

/* ACTIVE CLASSE UNUTAR SLIDER-A *********************************** */
.slider-active__img {
  display: block;
}
.slider-active-right__card {
  color: #222132;
  background: #fff
    url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/tab-bg.jpg")
    no-repeat right;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.09) 0 19px 65px;
}
.slider-active-right__img {
  background-color: #1abc71;
}
.slider-card-active__img {
  filter: brightness(0) invert(1);
}
.slider-active-green__line {
  display: block;
}

.slider-active__desc {
  display: block;
}

/* UPOZNAJ CONATINER KOPIJA SA DRUGOM POZICIJOM ***************/
.upoznaj-container__tri {
  max-width: 1064px;
  width: 100%;
  margin-inline: auto;
  padding: 60px;
  padding-block: 48px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/cta-bg.jpg");
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: rgba(25, 187, 112, 0.35) 0 19px 35px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* UPOZNAJ CONATINER KOPIJA SA DRUGOM POZICIJOM ***************/
.upoznaj-container__cetri {
  max-width: 1064px;
  width: 100%;
  margin-inline: auto;
  padding: 60px;
  padding-block: 48px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/cta-bg.jpg");
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: rgba(25, 187, 112, 0.35) 0 19px 35px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* UPOZNAJ SECTION ************************************************/
.upoznaj-container {
  max-width: 1064px;
  width: 100%;
  margin-inline: auto;
  padding: 60px;
  padding-block: 48px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/cta-bg.jpg");
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: rgba(25, 187, 112, 0.35) 0 19px 35px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.upoznaj-title {
  font-family: var(--ff-inter-bold-700);
  color: #fff;
  line-height: 1;
  font-size: 33px;
  width: 60%;
}
.upoznaj-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.upoznaj-links a {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 6px;
  line-height: 20px;
}
.upoznaj-login {
  border-color: #fff;
  font-family: var(--ff-inter-medium-500);
  color: #fff;
  border: 2px solid white;
  transition: all 200ms linear;
}
.upoznaj-login:hover,
.upoznaj-login:focus {
  background-color: white;
  color: black;
}
.upoznaj-register {
  background: #222132;
  font-family: var(--ff-inter-medium-500);
  box-shadow: rgb(34 33 50/26%) 0 20px 27px;
  border: 2px solid #222132;
  color: white;
  transition: all 200ms linear;
}
.upoznaj-register:hover,
.upoznaj-register:focus {
  background-color: white;
  border: 2px solid white;
  color: black;
}
/**  PRONADJI **************************************************/
.pronadi-section {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.005);
  /* padding-bottom: 50px; */
  padding-top: 100px;
}
.pronadi,
.pitanja {
  max-width: 1064px;
  margin-inline: auto;
  width: 100%;
}
.pronadi-header {
  text-align: center;
  margin-inline: auto;
  padding-inline: 10px;
}
.pronadi-header__title {
  margin-block-end: 30px;
  font-size: 40px;
  color: #222132;
  font-family: var(--ff-inter-bold-700);
}
.pronadi-header__desc {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  font-family: var(--ff-inter-regular-400);
  padding-inline: 10px;
}

.pronadi-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(16rem, 38vw, 28rem), 1fr)
  );
  text-align: left;
  gap: 2rem;
  margin-block-start: 90px;
}
.pronadi-container__card {
  background-color: white;
  padding: 35px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 19px 65px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pronadi-container__left {
  padding: 20px;
  width: auto;
}
.pronadi-container__right {
  align-self: flex-start;
  flex: 1;
}
.pronadi-right__desc {
  line-height: 24px;
}
.pronadi-container__left img {
  object-fit: contain;
  width: 60px;
  height: 56px;
}
.pronadi-container__card h3 {
  line-height: 1.1;
  color: #222132;
  font-family: var(--ff-inter-bold-700);
  padding: 0 0 15px;
  font-size: 20px;
}

.pronadi-container__card p:not(:last-child) {
  padding-bottom: 30px;
}
.pronadi-container__card p {
  font-family: var(--ff-inter-regular-400);
  color: #727180;
}

/**  BANNER **************************************************/
.banner-container {
  width: 100%;
}
.banner-container__img {
  width: 100%;
  height: auto;
}

/* BLOG SECTION ************************************************/
.blog {
  position: relative;
  background-color: #f9f9f9;
  padding-block-start: 100px;
  width: 100%;
}
.blog-container {
  padding-block-end: 10rem;
}

.blog-header {
  max-width: 1330px;
  margin-inline: auto;
  width: 100%;
  padding-inline: 15px;
  text-align: center;
}
.blog-header__container {
  width: 100%;
  margin-inline: auto;
  margin-block-end: 20px;
}

.blog-title {
  font-size: 38px;
  max-width: 1040px;
  width: 100%;
  margin-inline: auto;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
  padding-block-end: 30px;
  padding-inline: 130px;
  text-align: center;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-style: normal;
}

.blog-subtitle {
  padding-block-end: 30px;
  text-align: center;
  font-size: 15px;
  color: black;
}

.blog-blogs {
  max-width: 1040px;
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1rem, 5vw, 2rem);
  position: relative;
}
.blog-decoration__img {
  position: absolute;
  top: 0;
  content: "";
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline2.png") left top repeat;
  width: 268px;
  height: 318px;
  opacity: 0.4;
  z-index: 0;
  top: -10px;
  clear: both;
  right: -185px;
}

.blog-blogs__left {
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 19px 65px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  transition: all 200ms linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  text-align: start;
}
.left-image {
  width: 100%;
  position: relative;
  height: revert;
}
.left-image a {
  display: block;
  height: 100%;
  width: 100%;
}
.left-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.left-content {
  padding: 20px;
}
.left-content__header,
.right-content__header {
  margin-block-end: 8px;
  text-align: start;
}
.left-content__header a,
.left-content__header span,
.right-content__header a,
.right-content__header span {
  border-radius: 6px;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 13px;
  color: #fff;
  background: #19bb70;
  border: 2px solid transparent;
  padding: 9px 21px;
  line-height: 1;
  display: inline-block;
}
.left-content__header a,
.right-content__header a {
  transition: all 200ms linear;
}
.left-content__header a:hover,
.right-content__header a:hover,
.left-content__header a:focus,
.right-content__header a:focus {
  background-color: black;
}
.left-content__header span,
.right-content__header span {
  background: 0 0;
  color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}
.left-content__title {
  font-size: 26px;
  line-height: 1.5;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
}
.left-content__title .link {
  color: rgb(34, 33, 50);
  transition: all 200ms linear;
}
.left-content__title .link:hover,
.left-content__title .link:focus {
  color: #19bb70;
}
.left-content__subtitle {
  margin-block-end: 0.5rem;
  color: #000;
  font-size: 16px;
}
.left-content__link,
.right-content__link {
  line-height: 29px;
}
.left-content__link .link,
.right-content__link .link {
  position: relative;
  color: #19bb70;
  font-size: 18px;
  font-family: var(--ff-inter-bold-700);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 200ms linear;
}
.left-content__link .link:hover,
.right-content__link .link:hover,
.left-content__link .link:focus,
.right-content__link .link:focus {
  color: #000;
}
.left-content__link img {
  width: 1rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.blog-blogs__right {
  display: grid;
  align-content: space-between;
  grid-template-rows: 158.4px 158.4px 157.275px;
  gap: clamp(1rem, 5vw, 2rem);
  text-align: start;
}
.right-flex {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  transition: all 200ms linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 19px 65px;
  grid-template-columns: 0.69fr 1.5fr;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: clamp(0rem, 5vw, 0.3rem);
}
.right-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  align-self: stretch;
  position: revert;
}
.right-image a {
  width: 100%;
}
.right-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-content {
  padding: 0.5rem 1rem;
  display: grid;
  gap: 0.3rem;
  text-align: start;
}
.right-content__title {
  font-size: 20px;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
  padding: 0;
  line-height: 1.5;
}
.right-content__title a {
  color: #222132;
  transition: all 200ms linear;
}
.right-content__title a:hover,
.right-content__title a:focus {
  color: #19bb70;
}

/* FAQ ******************************************************* */
.pitanja {
  max-width: 1064px;
  margin-inline: auto;
  width: 100%;
}
.pitanja-full {
  width: 100%;
  padding-block: 100px;
  position: relative;
}
.pitanja-full-dva {
  padding-block-start: 180px;
}
.pitanja-decoration__img {
  position: absolute;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline2.png");
  background-repeat: repeat;
  background-size: contain;
  left: 0;
  top: 10px;
  height: 268px;
  opacity: 0.8;
  width: 120px;
  z-index: 0;
}

.pitanja-naslov {
  line-height: 1;
  text-align: center;
  font-family: var(--ff-inter-bold-700);
  font-size: 34px;
  margin-block-end: 30px;
}

.pitanja-box {
  padding-right: 20px;
  padding-block-end: 1px;
  box-shadow: none;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  margin-block-end: 20px;
  position: relative;
  z-index: 10;
  transition: all 250ms linear;
}

.style {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0 19px 57px;
}
.pitanja-box__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  padding-left: 20px;
  gap: 2rem;
  cursor: pointer;
}

.pitanja-box__flex:hover .pitanja-box__pitanje,
.pitanja-box__flex:focus .pitanja-box__pitanje {
  color: rgb(25, 187, 112);
}

.pitanja-box__pitanje {
  color: rgb(34, 33, 50);
  font-size: 22px;
  font-family: var(--ff-inter-bold-700);
}

.pitanja-box__plus,
.pitanja-box__minus {
  color: rgb(25, 187, 112);
  font-size: 36px;
  font-family: var(--ff-inter-semi-bold-600);
}

.pitanja-box__text {
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-regular-400);
  font-size: 16px;
  line-height: 22px;
  max-height: 0px;
  overflow: hidden;
  margin: 0 20px 0px 20px;
  padding-block-end: 0px;
  transition: all 300ms linear;
}

.hidden {
  display: none;
}

.visible {
  margin-block-end: 20px;
  max-height: 400px;
}

/* PREUZMI SECTION *********************************************/
.preuzmi-full {
  width: 100%;
  background: url("https://zaposlise.hr/wp-content/uploads/2021/11/bg2-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 261.975px;
  overflow: hidden;
}
.preuzmi {
  max-width: 1330px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preuzmi-left {
  flex: 2;
}
.preuzmi-left img {
  object-fit: cover;
  width: 45rem;
}
.preuzmi-right {
  flex: 1;
}
.preuzmi-right__title {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  color: white;
  font-family: var(--ff-inter-bold-700);
  padding-block-end: 30px;
}
.preuzmi-right__flex {
  display: flex;
  gap: 48px;
}
.preuzmi-right__flex img {
  width: 191px;
  height: 62px;
}

/* FOOTER  *****************************************************/
.footer {
  padding-block: 40px;
  width: 100%;
  background: #f9f9f9 url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/footer-bg.jpg") center center no-repeat;
  background-size: cover !important;
  color: #696870;
}
.footer-container {
  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 15px;
  font-family: var(--ff-inter-regular-400);
  color: rgb(105, 104, 112);
  line-height: 20px;
}
.footer-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.social {
  display: flex;
  align-items: center;
}

.footer-home__img {
  height: 45px;
  width: 240px;
  margin-block-end: 40px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer-social img {
  width: 32px;
  height: 32px;
}
.footer-flex__navigation {
  width: min(100%, 460px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block-end: 20px;
  padding: 10px;
  margin-inline: auto;
}

.navigation-left,
.navigation-right {
  flex-shrink: 0;
  width: unset;
  margin-inline: auto;
}
.navigation-left h2,
.navigation-right h2 {
  font-family: var(--ff-inter-bold-700);
  font-size: 1.5rem;
  color: #222132;
  padding-block-end: 25px;
}
.navigation-left__items,
.navigation-right__items {
  display: grid;
  gap: 0.5rem;
}
.navigation-left__items li,
.navigation-right__items li {
  text-align: left;
  line-height: 29px;
}
.navigation-left__items li a,
.navigation-right__items li a {
  color: rgb(105, 104, 112);
  font-family: var(--ff-inter-regular-400);
  transition: all 200ms linear;
}
.navigation-left__items li a:hover,
.navigation-right__items li a:hover,
.navigation-left__items li a:focus,
.navigation-right__items li a:focus {
  color: #000;
}
.footer-flex__newsletter {
  width: 460px;
}

.footer-flex__newsletter h2 {
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-bold-700);
  font-size: 24px;
  margin-block-end: 10px;
  line-height: 1.2;
}
.footer-flex__newsletter p {
  line-height: 29px;
  padding-block-end: 20px;
}

/* NEWSLETTER CODE */

.hidde-form {
  display: none;
}

.form-container {
  display: flex;
  gap: 15px;
  margin-block-end: 20px;
}
.form-container__left {
  width: 316px;
  line-height: 29px;
}
.form-container__left input {
  border: 1.6px solid rgba(0, 0, 0, 0.17);
  border-radius: 14px;
  font-size: 14px;
  color: rgb(34, 33, 50);
  padding-block: 15.4px;
  padding-inline: 21px;
  width: 100%;
  height: 56px;
  font-family: var(--ff-inter-regular-400);
  line-height: 14px;
  outline: none;
  transition: all 150ms ease-in-out;
}
.form-container__left input:focus {
  border: 1.6px solid rgba(20, 97, 207, 0.824);
}

.input-error {
  color: rgb(245, 108, 108);
  font-size: 12px;
  line-height: 29px;
  font-family: var(--ff-inter-regular-400);
  display: none;
}
.form-container__right button {
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 0.8px solid rgb(25, 187, 112);
  border-radius: 14px;
  background-color: rgb(25, 187, 112);
  accent-color: rgb(25, 187, 112);
  color: white;
  padding-inline: 21px;
  padding-block: 15.4px;
  font-family: var(--ff-inter-regular-400);
  line-height: 21px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.form-container__right button:hover,
.form-container__right button:focus {
  background-color: white;
  color: rgb(25, 187, 112);
}
.form-container__right {
  width: 128px;
}
.newsletter-izjava {
  margin-block-end: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.newsletter-izjava span {
  padding-top: 8px;
}
.newsletter-izjava span input {
  width: 20px;
  height: 20px;
  margin-inline-end: 16px;
  accent-color: #19bb70;
}

.newsletter-izjava__detalji {
  padding-inline-end: 5px;
  padding-block-end: 0px;
  padding-block-start: 8px;
}
.newsletter-izjava__detalji label {
  line-height: 29px;
  padding-block-end: 0px;
  cursor: pointer;
}

.newsletter-izjava__detalji a {
  color: rgb(25, 186, 112);
  line-height: 29px;
  text-decoration-color: rgb(25, 186, 112);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition: all 200ms linear;
}
.newsletter-izjava__detalji a:hover,
.newsletter-izjava__detalji a:focus {
  text-decoration: none;
  color: #222132;
}
.red {
  color: rgb(245, 108, 108) !important;
}
.red-link {
  color: rgb(245, 108, 108) !important;
  text-decoration-color: rgb(245, 108, 108) !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.newsletter-checkbox__error {
  color: rgb(245, 108, 108);
  font-size: 12px;
  line-height: 29px;
  font-family: var(--ff-inter-regular-400);
  display: none;
}
.show-error {
  display: block;
}
.uspješna-prijava {
  border: 1px solid #ced4da;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 15px;
  position: relative;
  display: none;
}

.uspješna-prijava__uspjeh {
  display: block;
}
.uspješna-prijava p {
  padding-block-end: 20px;
}

.footer-end {
  margin-block-start: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-end p {
  margin-block-start: 40px;
  font-size: 14px;
  color: rgb(105, 104, 112);
  line-height: 29px;
}
.footer-end p b {
  font-family: var(--ff-inter-bold-700);
}

.footer-end div {
  margin-block-start: clamp(1.25rem, 5vw, 2.5rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.a {
  color: rgb(104, 103, 111);
  font-size: 14px;
  line-height: 29px;
  transition: all 200ms linear;
}
.a:hover,
.a:focus {
  color: #000;
}

/*  BREAKPOINT(1600) *********************************************/
@media (max-width: 1600px) {
  .header-container {
    max-width: 1440px;
  }
  .header-logo__img {
    margin-inline-end: 42px;
  }
  .header-links .login {
    margin-inline-start: 0px;
  }
  .potrazi-content__title {
    font-size: 40px;
  }
  .potrazi-content__btn {
    padding: 17px 22px;
  }
  .pronadi-header__title {
    font-size: 34px;
  }
  .blog-decoration__img {
    right: -15px;
  }
  .upoznaj-title {
    font-size: 28px;
  }
}

/* BREAKPOINT(1440) *********************************************/
@media (max-width: 1440px) {
  .header-container {
    max-width: 1340px;
  }
  .image__background-two {
    height: 635px;
  }
  .napreduj-desc {
    line-height: 24px;
  }
  .potrazi-content {
    width: 565px;
  }
  .potrazi-content__title {
    font-size: 42px;
  }
  .potrazi-content__btn {
    padding: 16px 20px;
    font-size: 19px;
  }
  .upoznaj-container,
  .upoznaj-container__tri,
  .upoznaj-container__cetri {
    max-width: 928px;
  }
  .pronadi {
    max-width: 954px;
  }
  .pronadi-right__desc {
    line-height: 22px;
  }

  .pronadi-header__desc {
    line-height: 20px;
  }
  .pitanja {
    max-width: 954px;
  }
  .pitanja-box__pitanje {
    font-size: 21px;
  }
  .preuzmi-full {
    height: 473px;
  }
  .preuzmi {
    flex-direction: column;
  }
  .preuzmi-right {
    margin-block: 32px;
  }
  .preuzmi-right__title {
    text-align: center;
    padding-bottom: 45px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 24px;
  }
  .line-height {
    line-height: 24px;
  }
  .blog-header {
    max-width: 1160px;
  }
  .blog-title {
    font-size: 40px;
  }
  .blog-blogs__right {
    grid-template-rows: 157.275px 157.275px 157.275px;
  }
  .blog-decoration__img {
    right: -95px;
  }
}

/*  BREAKPOINT(1290) *********************************************/
@media (max-width: 1290px) {
  .header-container {
    max-width: 1140px;
  }
  .header-logo__img {
    width: 173px;
    margin-inline-end: 15px;
  }
  .header-links .link {
    font-size: 15px;
  }

  .header-links .link {
    margin-inline-end: 20px;
  }
  .header-links .login {
    margin-inline-end: 10px;
  }
  .image__background-two {
    height: 689px;
  }
  .potrazi-content {
    width: 444px;
  }
  .potrazi-content {
    padding-block-start: 80px;
  }
  .potrazi-content__desc-one,
  .potrazi-content__desc-two {
    line-height: 20px;
    font-size: 15px;
  }
  .potrazi-content__desc-two {
    padding-inline-end: 0px;
  }
  .potrazi-content__btn {
    font-size: 18px;
    padding: 15px 18px;
    line-height: 18px;
  }
  .napreduj-slider {
    grid-template-columns: 395px 1fr;
  }
  .pronadi-container__card h3 {
    font-size: 24px;
  }
  .blog-header {
    max-width: 1140px;
  }
  .pitanja-box__pitanje {
    font-size: 20px;
  }
}

/*  BREAKPOINT(1199) *********************************************/
@media (max-width: 1199px) {
  .header-container {
    max-width: 1000px;
  }
  .header-links .login,
  .header-links .register {
    padding-block: 9px;
    padding-inline: 10px;
  }
  .napreduj-desc {
    line-height: 22px;
    font-size: 16px !important;
  }
  .image__background-two {
    height: 637px;
  }
  .potrazi-content {
    padding-block-start: 0px;
    width: 50%;
  }
  .potrazi-container {
    padding-block-start: 65px;
    padding-inline-start: 50px;
  }
  .potrazi-content__title {
    font-size: 42px;
  }
  .potrazi-content__desc-one,
  .potrazi-content__desc-two {
    font-size: 16px;
  }

  .potrazi-content__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 20px 25px;
  }
  .potrazi-content__store-img {
    width: 160px;
    height: 52px;
  }
  .upoznaj-container,
  .upoznaj-container__tri,
  .upoznaj-container__cetri {
    max-width: 980px;
  }
  .upoznaj-links a {
    padding: 14px 18px;
  }
  .upoznaj-title {
    font-size: 30px;
  }
  .pronadi {
    max-width: 980px;
    padding-inline: 10px;
  }

  .pronadi-header__desc {
    font-size: 16px;
    line-height: 24px;
  }

  .pronadi-container {
    margin-block-end: 60px;
    margin-block-start: 10px;
  }
  .pronadi-section {
    padding-top: 100px;
  }
  .blog-title {
    font-size: 50px;
  }
  .blog-subtitle {
    font-size: 16px;
  }
  .blog-blogs {
    padding-block-end: 50px;
  }
  .blog-decoration__img {
    right: -15px;
  }
  .pitanja {
    max-width: 980px;
    padding-inline: 10px;
  }
  .pitanja-full-dva {
    padding-block-start: 100px;
  }
  .pitanja-box__text {
    font-size: 16px;
    line-height: 20px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 22px;
  }
  .line-height {
    line-height: 22px;
  }
}

/*  BREAKPOINT(991) **********************************************/
@media (max-width: 991px) {
  .header-nav {
    justify-content: space-between;
    height: 75px;
  }
  .header-logo__img {
    max-width: 200px !important;
    width: 100%;
    height: 45px;
  }
  .header-links {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
  }
  .header-mobile__btn .prijava {
    display: inline-block;
    background-color: rgb(25, 187, 112);
    margin-inline: 20px;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    color: white;
    margin-inline-end: 0px;
    height: auto;
    box-shadow: rgba(25, 187, 112, 0.26) 0px 20px 27px 0px;
    transition: all 200ms linear;
  }
  .header-mobile__btn .prijava:hover,
  .header-mobile__btn .prijava:focus {
    background-color: rgb(34, 33, 50);
    box-shadow: rgba(34, 33, 50, 0.26) 0px 20px 27px 0px;
  }
  .menu {
    margin-inline-start: 20px;
  }
  .header-mobile__hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 28px;
    font-family: var(--ff-inter-medium-500);
  }
  .header-mobile__hamburger.show {
    position: relative;
  }
  .header-mobile__hamburger div {
    height: 3px;
    border-radius: 4px !important;
    background-color: black;
    opacity: 1;
    cursor: pointer;
    width: 100%;
  }
  .header-mobile__hamburger .line-one {
    transition: all 200ms ease-in;
  }
  .header-mobile__hamburger .line-two {
    width: 16px;
  }
  .header-mobile__hamburger .line-three {
    transition: all 200ms ease-in;
  }
  .header-mobile__hamburger .line-one.show {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
    rotate: -45deg;
  }
  .header-mobile__hamburger .line-two.show {
    display: none;
  }
  .header-mobile__hamburger .line-three.show {
    rotate: 45deg;
  }

  .mobile-links {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: white;
    overflow: scroll;
    padding-inline: 15px;
    padding-block-end: 15px;
    z-index: 1000;
    flex-direction: column;
    display: none;
  }
  .mobile-links li a {
    display: block;
    padding-block: 12px;
    padding-inline: 20px;
    font-family: var(--ff-inter-semi-bold-600);
    color: #000;
    font-size: 24px;
  }

  .mobile-links .link-active {
    color: #19bb70;
    transition: all 200ms linear;
  }
  .mobile-links li a:hover,
  .mobile-links li a:focus {
    color: #19bb70;
  }
  .mobile-links.show {
    display: flex;
  }
  .mobile-links .login {
    background-color: white;
    color: #19bb70;
    padding-block: 5px;
    padding-inline: 15px;
    margin-inline: 20px;
    border-radius: 12px;
    width: fit-content;
    border: 1.6px solid #19bb70;
    margin-block-start: 5px;
    transition: all 200ms linear;
  }

  .mobile-links .register {
    background-color: rgb(25, 187, 112);
    border-radius: 12px;
    padding-block: 5px;
    padding-inline: 15px;
    border: 1.6px solid #19bb70;
    color: white;
    margin-block-start: 10px;
    margin-inline: 20px;
    width: fit-content;
    box-shadow: rgba(50, 103, 78, 0.3) 4px 10px 20px 0px;
    transition: all 200ms linear;
  }

  .mobile-links .login:hover,
  .mobile-links .login:focus {
    background-color: black;
    border: 1.6px solid black;
    color: white;
    box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
  }
  .mobile-links .register:hover,
  .mobile-links .register:focus {
    background-color: white;
    color: #000;
    border: 1.6px solid black;
    box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
  }
  .image__background-two {
    height: 659px;
  }
  .potrazi-container {
    padding-inline-start: 15px;
  }
  .upoznaj-container,
  .upoznaj-container__tri,
  .upoznaj-container__cetri {
    width: 95%;
    flex-direction: column;
    gap: 15px;
    padding-inline: 15px;
  }
  .upoznaj-title {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }
  .upoznaj-links a {
    font-size: 20px;
  }
  .napreduj-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .slider-right::after {
    display: none;
  }
  .slider-right__card {
    grid-template-columns: revert;
    grid-template-rows: 0.25fr 1fr;
    padding: 1rem;
  }
  .pronadi {
    padding-inline: 15px;
  }
  .pronadi-section {
    padding-top: 120px;
  }
  .blog {
    padding-block-start: 50px;
  }
  .blog-title {
    padding-inline: 0;
  }
  .right-content__header {
    margin-block-end: 0px;
  }
  .blog-blogs {
    grid-template-columns: revert;
    grid-template-rows: auto 1fr;
  }
  .right-content {
    gap: 0.7rem;
  }
  .blog-blogs__right {
    grid-template-rows: repeat(3, min-content);
    row-gap: 47px;
  }
  .right-flex {
    grid-template-columns: unset;
    grid-template-rows: clamp(8rem, 26vw, 20rem) 1fr;
  }

  .pitanja {
    padding-inline: 15px;
  }
  .pitanja-full {
    padding-block: 50px;
  }
  .pitanja-full-dva {
    padding-block-start: 110px;
  }
  .pitanja-naslov {
    margin-block-end: 24px;
  }

  .preuzmi-right__title {
    text-align: center;
    padding-block-end: 15px;
  }
  .preuzmi-full {
    height: auto;
  }
}

/*  BREAKPOINT(828) **********************************************/
@media (max-width: 828px) {
  .image__background-two {
    height: 701px;
  }
  .footer-flex__newsletter {
    width: 100%;
    max-width: 460px;
    margin-inline: auto;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    text-align: center;
  }
}

/*  BREAKPOINT(767) **********************************************/
@media (max-width: 767px) {
  .mobile-links li a {
    font-size: 18px;
  }
  .image__background-two {
    text-align: center;
    background: #f9f9f9
      url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/mobile-zaposlise-posloprimci-naslovna@2x.png")
      center bottom no-repeat;
    background-size: contain;
    padding: 80px 0 270px;
    height: 650px;
  }
  .napreduj-container {
    padding-block-start: 280px !important;
    padding-block-end: 2.5rem;
  }
  .napreduj-title {
    max-width: 100% !important;
  }
  .potrazi-container {
    padding-block-start: 10px;
    width: 100%;
  }
  .potrazi-content__desc-one,
  .potrazi-content__desc-two {
    font-size: 15px;
  }
  .potrazi-content__desc-two {
    padding-block-end: 10px;
  }
  .potrazi-content {
    text-align: center;
    width: 100%;
  }
  .potrazi-content__title {
    font-size: 24px;
    line-height: 24px;
  }
  .potrazi-content__btn {
    margin-inline: auto;
    font-size: 16px;
    padding: 14px 18px;
    line-height: 1;
  }
  .potrazi-content__store {
    margin-inline: auto;
  }

  .upoznaj-container {
    padding-block: 30px;
  }
  .upoznaj-title {
    font-size: 20px;
  }
  .upoznaj-links a {
    padding: 11px 14px;
    font-size: 13px;
    line-height: 16px;
  }
  .pronadi-section {
    padding-top: 100px;
  }
  .pronadi-header {
    width: 100%;
  }
  .pronadi-header__title {
    font-size: 28px;
  }
  .pronadi-header__desc {
    line-height: 20px;
  }
  .pronadi-container {
    margin-block-end: 0px;
  }
  .pronadi-container__card {
    padding: 25px 15px 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .pronadi-container__left img {
    object-fit: contain;
    width: 65px;
    height: 60px;
  }
  .pronadi-right__desc {
    padding-block-end: 15px;
  }
  .blog-title {
    font-size: clamp(30px, 8vw, 50px);
  }
  .blog-subtitle {
    font-size: 15px;
  }
  .blog-blogs {
    padding-block-end: 0px;
  }
  .pitanja-box__pitanje {
    font-size: 18px;
    line-height: 19.8px;
  }
  .pitanja-full {
    padding-bottom: 20px;
  }
  .pitanja-box__flex {
    gap: 1rem;
  }
  .pitanja-box__text {
    font-size: 15px;
    line-height: 20px;
  }
  .pitanja-naslov {
    font-size: 28px;
    margin-block-end: 15px;
  }
  .pitanja-decoration__img {
    display: none;
  }
  .preuzmi-right__flex {
    padding-inline: 15px;
  }
  .preuzmi-right__flex img {
    width: auto;
    height: auto;
  }
  .footer-flex__links {
    margin-block-end: 20px;
    margin-inline: auto;
  }
  .footer-flex__newsletter {
    text-align: center;
  }
  .navigation-left h2,
  .navigation-right h2 {
    padding-block-end: 15px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 20px;
  }
  .line-height {
    line-height: 20px;
  }
  .footer-end {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/*  BREAKPOINT(700) **********************************************/
@media (max-width: 700px) {
}

/* BREAKPOINT (590) **********************************************/
@media (max-width: 590px) {
  .image__background-two {
    height: 675px;
  }
  .form-container {
    flex-direction: column;
  }
  .form-container__left {
    width: 100%;
    margin-block-end: 20px;
  }
  .form-container__right {
    width: 100%;
  }
  .blog-blogs__right {
    row-gap: 39px;
  }
}
/* BREAKPOINT (505) **********************************************/
@media (max-width: 505px) {
  .upoznaj-container-tri,
  .upoznaj-container-cetri {
    gap: 35px;
  }
  .napreduj-container {
    padding-block-start: 260px !important;
    padding-block-end: 1rem !important;
  }
  .napreduj-desc {
    line-height: 20px;
  }
}

/*  BREAKPOINT(479) **********************************************/
@media (max-width: 479px) {
  .header-mobile__btn .prijava {
    font-size: 14px;
    padding-inline: 7px;
    padding-block: 6px;
    margin-inline: 0px;
    text-wrap: nowrap !important;
    line-height: 1;
  }
  .blog-subtitle {
    margin-block-end: 20px;
  }
}

/*  BREAKPOINT(420) **********************************************/
@media (max-width: 420px) {
  .image__background-two {
    height: 700px;
  }
  .potrazi-content__store {
    justify-content: center;
  }
  .header-logo__img {
    max-width: 185px !important;
    margin-inline-end: 0px;
    width: 100%;
  }
  .header-mobile__btn .prijava {
    margin-inline-end: 30px;
  }
}

/*  BREAKPOINT(378) **********************************************/
@media (max-width: 356px) {
  .image__background-two {
    height: 767px;
  }
}

/*  BREAKPOINT(310) **********************************************/
@media (max-width: 310px) {
  .blog-blogs__right {
    row-gap: 31px;
  }
}
